.App {
  /* text-align: center; */
  font-family: "Patrick Hand", cursive;
}

.mainNav {
  display: flex;
  align-items: center;
  background-color: #6781e0;
  padding: 0px 20px;
  color: #8fed85;
  justify-content: space-between;
}

.logo i {
  color: yellow;
  font-size: 38px;
}

.nav {
  font-size: 32px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #8fed85;
  font-size: 32px;
}
